*.swp
*.db
/bin/r.js
/bin/composer.phar
/htdocs/dist
/htdocs/assets/js/libs
/htdocs/assets/fonts
/htdocs/assets/imgs/favicon.ico
/htdocs/assets/imgs/*
!/htdocs/assets/imgs/load.gif
!/htdocs/assets/imgs/partload.gif
!/htdocs/assets/imgs/nc.gif
!/htdocs/assets/imgs/nca.gif
!/htdocs/assets/imgs/ncs.gif
/htdocs/assets/css/bootstrap.css
/htdocs/assets/css/codemirror.css
/htdocs/assets/css/datetimepicker.css
/htdocs/assets/css/dragula.css
/htdocs/assets/css/select2-bootstrap.css
/htdocs/assets/css/select2.css
/htdocs/assets/css/tablesorter-bootstrap.css
/htdocs/assets/js/templates.compiled.js
/phpdoc
/config.php
/version.txt
/extlib
/node_modules
/bower_components
/vendor
/hook.php
/release.tgz
*_
