*.swp
*.db
bin/r.js
bin/composer.phar
htdocs/dist
htdocs/assets/js/libs
htdocs/assets/fonts
htdocs/assets/imgs/favicon.ico
htdocs/assets/imgs/*
!htdocs/assets/imgs/load.gif
!htdocs/assets/imgs/partload.gif
!htdocs/assets/imgs/nc.gif
!htdocs/assets/imgs/nca.gif
!htdocs/assets/imgs/ncs.gif
htdocs/assets/js/templates.compiled.js
phpdoc
version.txt
extlib
node_modules
bower_components
vendor
hook.php
*_
